@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
}

:root {
  --background: #f9fafb;
  /* neutral-50 */
  --foreground: #0a0a0a;
  /* neutral-950/900 approximation */
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #0f172a;
  color: white;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}